
{% extends "layouts.html" %}
{% block body %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">description</th>
        <th scope="col">author</th>
        <th scope="col">DATE</th>
      </tr>
    </thead>
    <tbody>
      
    <tbody>
      {%  for articles in articles  %}
      <tr>
        <th scope="row">{{articles['id']}}</th>
        <td>{{articles['title']}}</td>
        <td>{{articles['body']}}</td>
        <td>{{articles['author']}}</td>
        <td>{{articles['create_date']}}</td>
      </tr>
      {% endfor %}
  
    </tbody>
  </table>

  {%  endblock %}